---
layout: layouts/postslist.njk
---

{#<p>This is my blog, there are many like it, but this one is mine.</p>#}

{#{% set postslist = collections.posts %}#}
{#{% include "_includes/layouts/postslist.njk" %}#}


