<footer class="my-16">
    <small class="text-gray-400">
        This site built with love, <a href="https://www.11ty.dev/">Eleventy</a>, and <a href="https://tailwindcss.com/">Tailwind</a>.
    </small>
</footer>