<nav>
{% set navPages = collections.all | eleventyNavigation %}
<ul class="flex">
    {%- for entry in navPages %}
        <li class="pl-5">
            <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
    {%- endfor %}
</ul>
</nav>