<html>
    <head>
        <title>Jay Cruz Site</title>
        {% set css %}
            {% include "/css/tailwind.css" %}
          {% endset %}
    </head>
    <body>
        <h1 class="text-purple-600">Jay Cruz Site</h1>
        {{ content | safe }}
    </body>
</html>