---
layout: layouts/base.njk
---

<div class="my-20">
    <h1 class="font-bold text-3xl">{{ title }}</h1>
    <div class="max-w-prose">
        {% if featuredImage %}<img class="w-auto mt-5" src="{{ featuredImage | url }}" alt="{{ featuredImage }}" />{% endif %}
        {{ content | safe }}

        {{ set currentPost = collections.posts | getCollectionItem(page) }}

        <p class="my-3">
            <time datetime="{{ currentPost.date | machineDate }}">
                <small class="text-gray-400">{{ currentPost.date | readableDate }} by <a class="author-link" href="/authors/{{ currentPost.data.author | slug }}/">{{ currentPost.data.author }}</a></small>
            </time>
        </p>

        {% if tags %}
            <p>
                {% for tag in tags %}
                    {%- if tag != "posts" -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <small class="mr-3"><a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></small>
                    {%- endif -%}
                {% endfor %}
            </p>
        {% endif %}
    </div>
    <ul class="mb-3">
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- if nextPost %}<li class="mb-3">Previous Post: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if previousPost %}<li>Next Post: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    </ul>
    <hr />
</div>

<nav>
    <a href="{{ '/' | url }}">← Blog index</a>
</nav>


